<a href="https://colab.research.google.com/github/jane55555/Introduction-to-Computer/blob/main/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
a=input()
b=len(a)
for i in range(len(a)):
  if i==1:
    print("*",end="")
  else:
    print("*",end="")
print("\n","total:",b)

panda
*****
 total: 5

In [48]:
a=int(input())
if a<0:
  print("Input Error")
elif a%2==0:
  print(a,"is even")
else:
  print(a,"is odd")

5
5 is odd

In [49]:
s=int(input())

if (s==1 or s==2 or s==3):

  print(s,'is spring')

elif (s==4 or s==5 or s==6):

  print(s,'is summer')

elif (s==7 or s==8 or s==9):

  print(s,'is autumn')

elif (s==10 or s==11 or s==12):

  print(s,'is winter')

else:

  print('Input Error')

12
12 is winter

In [51]:
k=int(input())
if k<0:
  print("Input Error")
elif k>=1 and k<=5:
  print(240,"yuan")
elif k>=6:
  print(240+(k-5)*40,"yuan")
else:
  print(0,"yuan")

-1
Input Error

In [ ]:
c=100000

i=1.03

b=(int(input()))

i**=b

i

if (b<0) :

  print("Input Error")

elif (b>=0) :

  print(c*i)

In [26]:
q,s=map(int, input().split())
if q>s:
	e=q
else:
	e=s
for t in range(e,0,-1):
  if q%t==0 and s%t==0:
    print(t)
    break

20 60
20

In [ ]:
a,b=map(int, input().split())
if a>b:
	c=a
else:
	c=b
d=(a+1)*(b+1)
for e in range(c,d):
  if e%a==0 and e%b==0:
    print(e)
    break

In [30]:
a=input()
for i in range(len(a)):
  if i%2==0:
    print(a[i].upper(),end="")
  else:
    print(a[i].lower(),end="")

panda
PaNdA

In [31]:
a,b,c=map(int,input().split())
if(a+b)>c and (a+c)>b and (b+c)>a:
  print("Valid")
else:
  print("Invalid")

2 5 7
Invalid

In [33]:
f=input().split()
for i in f[::-1]:
  print(i, end=" ")

apple banana cake
cake banana apple

In [35]:
a=input()
for i in range(len(a)):
  print("*",end="")
b="total:{}"
print()
print(b.format(len(a)))

ppppp
*****
total:5

In [36]:
s=int(input())
m,s=divmod(s,60)
h,m=divmod(m,60)
print("%02d:%02d:%02d"%(h,m,s))

234
00:03:54

In [41]:
y=int(input())
text="common year"
if y%4==0:
  text='leap year'
if y%100==0:
  text="common year"
if y%400==0:
  text='leap year'
print(f'{y} is {text}')

2000
2000 is leap year

In [43]:
x=int(input())
for i in range(x, 10):
  for j in range(1, 10):
    print("%d*%d=%d" % (i,j,i*j),end=" ")
  print()

5
5*1=5 5*2=10 5*3=15 5*4=20 5*5=25 5*6=30 5*7=35 5*8=40 5*9=45
6*1=6 6*2=12 6*3=18 6*4=24 6*5=30 6*6=36 6*7=42 6*8=48 6*9=54
7*1=7 7*2=14 7*3=21 7*4=28 7*5=35 7*6=42 7*7=49 7*8=56 7*9=63
8*1=8 8*2=16 8*3=24 8*4=32 8*5=40 8*6=48 8*7=56 8*8=64 8*9=72
9*1=9 9*2=18 9*3=27 9*4=36 9*5=45 9*6=54 9*7=63 9*8=72 9*9=81

In [47]:
from functools import total_ordering
a=int(input())
total=0
if a>15:
  for x in range(15,a+1):
    if(x%2==0):
      total+=x
  print(total)
else:
  for j in range(a,16):
    if(x%2==0):
      total+=x
  print(total)

99
2394